---
---

@import "{{ site.theme }}";
a {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(74, 154, 224, 0.3);
}

a:hover {
	text-decoration: none;
	border-bottom-color: rgba(255, 0, 0, 0.3);
}
